@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); 

*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    }

.cabecera { display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color:#F2F211;
    flex-direction: row;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .cabecera{
        flex-direction: column;
        background-color: black;
    }
    .navbar {
    flex-direction: column;}
    
}

.navbar {display: flex;
    justify-content:center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    position: relative;
}


.link{text-decoration: none;
color: #F2F211;
position: relative;
padding: 10px;}

.link:after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #F2F211;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
}
.link:hover:after{
    width: 100%;
    right: 0;
}

.formCont { width: 100%;
overflow: hidden;
display: flex;
justify-content: center;
background-color: #595959;
padding: 20px;}

.formulario { display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px;
gap: 10px;
padding: 20px 50px;
margin: auto;
background-color: #262626;
color: #F2F211;
}

.formulario > input, placeholder {background-color: #f2f211;
border-radius: 10px;
padding: 10px;
border-color: black;
width: 100%;
text-align: center;}

.login {position: relative;
    padding: 10px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
    border-radius: 0.5rem;
}

.login:hover {color: #F2F211;}

.login span {position: absolute;
background: #F2F211;
transition: .5s;}

.login span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}
.login span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}
.login span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}
.login span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

.login:hover span:nth-child(1) {
    left: 0;
}
.login:hover span:nth-child(2) {
    right: 0;
}
.login:hover span:nth-child(3) {
    bottom: 0;
}
.login:hover span:nth-child(4) {
    top: 0;
}

.log {display: flex;
    align-items: center;
font-size: 0.8rem;}

.log > a{
color: #F2F211;
padding: 0.5rem;}

.log > a:hover {color: white;}

.foot {display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color:#F2F211;
    margin: 0;
}

.svg { zoom: 80%;
    color: #F2F211;
    text-align: center;
    justify-content: center;}
    
.svg > h2 {font-size: 190%;
text-decoration: underline;}

.copy {
color: #F2F211;}

@media screen and (max-width: 768px) {
    .foot{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: black;
    }
    
}
